*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body{
    background-color: #806dd6;
    font-family: 'Indie Flower', cursive;
}
.showcase{
    padding: 169px 0px;
}
.container{
    width: 1140px;
    margin: auto;
}
.contact_us{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 10px;
}
.contact{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    
}
.imgs{
    width: 40%;
} 
.contact form{
    width:40%;
}
form h3{
    font-size: 28px;
    font-family: 'Indie Flower', cursive;
}
.name{
    font-family: 'Indie Flower', cursive;
    width: 80%;
    margin: 5px 0px;
    padding: 10px ;
    background-color:#e6e6e6;
    border: 1px solid transparent;
    border-radius: 40px;
}
textarea{
    font-family: 'Indie Flower', cursive;
    margin: 5px 0px;
    width: 80%;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 18px;
    padding: 10px;
}
.btn{
    font-size:16px;
    font-family: 'Indie Flower', cursive;
    color: rgb(255, 255, 255);
    width: 85%;
    margin: 5px 0px;
    background-color:#806dd6;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
}


.news{
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    padding: 20px 10px;
    margin-bottom: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.news h1{
    font-size: 28px;
}
.news .user-name{
    width: 30%;
    margin: 5px 0px;
    padding: 10px ;
    background-color:#e6e6e6; 
    border: 1px solid transparent;
    border-radius: 40px;
    font-family: 'Indie Flower', cursive;
}
.news .user-email{
    width: 50%;
    margin: 5px 0px;
    font-family: 'Indie Flower', cursive;
    padding: 10px ;
    background-color:#e6e6e6;
    border: 1px solid transparent;
    border-radius: 40px;
}
.news button{
    width: 15%;
    font-size:16px;
    font-family: 'Indie Flower', cursive;
    color: rgb(255, 255, 255);
    margin: 5px 0px;
    background-color:#806dd6;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
}